/* --------------------
 * Bootstrap Override
 * ------------------*/

body {
	background: grey url('../img/background_road.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-top: 60px;
	/*overflow-y:scroll;*/
}

body, html {
	height: 100%;
}

.wrap {
	background: #FEFDFB url('../img/compass-header.jpg') no-repeat;
	/* TODO: fix this image */
	background-position: -20px -45px;
	margin: 5% 10%;
	min-height: 100%;
	color: #654422;
	border: #077a01 3px solid;
}

hr {
	border-color: #654422;
	border-width: 3px;
	margin: 5px 0px;
}

.content-padder {
	padding: 160px 0px;
}

.navbar-static-bottom {
	padding-left: 0;
	padding-right: 0;
	z-index: 1000;
	border-width: 1px 0 0;
	margin-bottom: 0;
	color: #F2F4F4;
}

@media (min-width: 768px) {
	.navbar-collapse.text-collapse {
	display: inline-block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
	}
}

.navbar-collapse.text-collapse{
	display: none;
}

.navbar-toggle input {
	width: 20px;
	height: 20px;
}

input:focus {
	outline: none;
}

.navbar-brand img {
	width:30px;
	height:30px;
	margin: -5px 5px 0 -5px;
}
