/* --------------------
 * Bootstrap Override
 * ------------------*/

body {
	background: grey url('../img/background_road.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-top: 60px;
	/*overflow-y:scroll;*/
}

body, html {
	height: 100%;
}

.wrap {
	min-height: 100%;
	color: white;
}

.navbar-static-bottom {
	padding-left: 0;
	padding-right: 0;
	z-index: 1000;
	border-width: 1px 0 0;
	margin-bottom: 0;
	color: #F2F4F4;
}

@media (min-width: 768px) {
	.navbar-collapse.text-collapse {
	display: inline-block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
	}
}

.navbar-collapse.text-collapse{
	display: none;
}

.navbar-toggle input {
	width: 20px;
	height: 20px;
}
